.page-content {
  padding: 0 0.24rem;
}
.van-nav-bar {
  .van-nav-bar__content {
    height: 1rem;
  }

  .van-nav-bar__title {
    font-size: 0.36rem;
  }

  .van-nav-bar__arrow {
    font-size: 0.36rem;
  }
}

.config-page {
  .van-field__label {
    font-size: 0.26rem !important;
  }
  .van-cell__title {
    font-size: 0.26rem !important;
    color: #000000;
  }
  .van-field__body {
    font-size: 0.26rem !important;
  }
}

.sport {
  .van-overlay {
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fc6030;
    font-size: 2.5rem;
    color: #ffffff;
  }
}

/*步骤条*/
.van-steps {
  background: transparent;

  .van-step__title {
    font-size: 0.3rem;
    font-weight: 400;
    color: #000000 !important;
  }
}

/*轮播*/
.my-swipe {
  border-radius: 0.1rem;
  margin-top: 0.2rem;
  .van-swipe-item {
    min-height: 150px;
    background: #fff;
  }
}

/*cell单元格*/
.van-cell-group {
  margin-top: 0.24rem;
  border-radius: 0.1rem;
  .van-cell {
    &:first-child {
      border-radius: 0.1rem 0.1rem 0 0;
    }

    &:last-child {
      border-radius: 0 0 0.1rem 0.1rem;
    }

    &:only-child {
      border-radius: 0.1rem;
    }
  }
  .van-cell__title {
    font-size: 0.36rem;
    font-family: Source Han Sans CN, Source Han Sans CN;
    font-weight: 400;
    color: #000000;
  }

  .van-cell__value {
    font-size: 0.36rem;
    font-family: Source Han Sans CN, Source Han Sans CN;
    font-weight: 400;
    color: #909998;
  }
}

/*字体大小*/
.medium-font-size {
  font-size: 0.35rem;
  font-weight: 400;
  color: #000000;
}

/*菜单栏  van-tab van-tab--active*/
.date-stitching {
  .van-tabs--card {
    .van-tabs__wrap {
      height: 0.84rem;
      width: 6.8rem;
    }
    .van-tabs__nav,
    .van-tabs__nav--card {
      height: 0.84rem;
      border-radius: 0.1rem;
      border: none;
      .van-tab__text--ellipsis {
        color: black;
      }
      .van-tab {
        border: none;
      }

      .van-tab--active {
        border-radius: 0.1rem;
        margin: 0.05rem;
        .van-tab__text--ellipsis {
          color: #fff;
        }
      }
    }
  }
}

/*导航栏*/
.van-nav-bar .van-icon {
  color: black;
}

.van-nav-bar__text {
  color: black;
}

/*圆角*/
.round {
  border-radius: 0.1rem;
}

.r-card {
  border-radius: 0.1rem;
  min-height: 1.84rem;
  background: #ffffff;
}

.l-m-t {
  margin-top: 0.2rem;
}

/*基础title*/
.base-title {
  font-size: 0.36rem;
  font-weight: 400;
  color: #000000;
  padding-top: 0.27rem;
  padding-left: 0.27rem;
}

/*首页title*/
.home-title {
  margin-top: 0.23rem;
  margin-left: 0.27rem;
  font-size: 0.36rem;
  font-weight: 400;
  color: #000000;
}

.vertical {
  flex-direction: column;
}

.b-d-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-data {
  width: 94%;
  font-size: 0.26rem;
  color: #909998;
}

.num-increase-content {
  display: flex;
  align-items: flex-end;
  font-size: 0.3rem;
  span {
    font-size: 0.36rem;
    font-weight: 400;
    line-height: 0.42rem;
    margin: 0 0.02rem;
  }
}

.display-center {
  display: flex;
  align-items: center;
  justify-content: center;

  .van-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-weight: bold;
    color: #000000;
    font-size: 0.4rem;

    .van-image {
      width: 0.52rem;
      height: 0.52rem;
    }
  }
}

/*基础 两边布局*/
.base-space-between-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.32rem;
  font-weight: 400;
  color: #000000;
  span {
    font-size: 0.4rem;
    padding: 0 0.05rem;
  }
  .unit {
    color: #6b7b75;
    font-size: 0.32rem;
  }
}

/*左右上下盒子布局*/
.r-l-t-b-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.3rem;
  margin-top: 0.5rem;
  .top-box {
    font-size: 0.68rem;
    font-weight: bold;
    color: #000000;
  }
  .bottom-box {
    font-size: 0.36rem;
    font-weight: 400;
    color: #909998;
  }
  .unit {
    font-size: 0.33rem;
    padding: 0 0.05rem;
  }
}

/*超大字体*/
.super-f-s {
  font-size: 1.56rem;
}

.b {
  font-weight: bold;
}

.van-progress {
  margin: 0.05rem 0.27rem;
}

.purple {
  color: #5c44c7;
}

.light-purple {
  color: #8977e0;
}

.green {
  color: #116042;
}

.light-green {
  color: #1da772;
}

.khaki {
  color: #d9793f;
}

.yellow {
  color: #fbbf03;
}
