<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seek.config">

    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 添加网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 广播权限 -->
<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> &lt;!&ndash; 播放权限 &ndash;&gt;-->
    <uses-permission android:name="android.permission.VIBRATE" />
<!--    <uses-permission android:name="android.permission.AUDIO_ATTRIBUTES_DEFAULT" />-->
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <!--位置权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--蓝牙-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity
            android:name=".WelComeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".AppActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppInitTools" />

        <receiver
            android:name=".Receiver.StartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--扫码-->
        <!--        <activity-->
        <!--            android:name=".ScanActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            tools:ignore="LockedOrientationActivity" />-->

        <!--        <activity android:name="com.huawei.hms.hmsscankit.ScanKitActivity" />-->
        <activity
            android:name=".ScanQrActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
